*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  min-width: 170rem; }

body {
  padding: 2rem 4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  box-sizing: border-box; }

.section {
  margin: 0 10rem;
  border-bottom: 0.3rem solid #ebebeb;
  padding-bottom: 3rem;
  border-radius: 2px; }
  .section:not(:last-child) {
    margin-bottom: 3rem; }
  .section__title-box {
    padding-left: 5rem;
    margin-bottom: 2rem; }
  .section__title {
    height: 5.5rem;
    font-size: 4.4rem;
    color: #6fa3e3; }
  .section__sub-title {
    margin-left: 2rem;
    font-size: 2.4rem;
    font-style: italic;
    color: #194985; }

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .profile__photo {
    width: 30rem;
    border-radius: 50%;
    margin-right: 5rem; }
  .profile__name-box {
    display: flex;
    flex-direction: column; }
  .profile__name {
    margin-top: 4rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.2; }
  .profile__title {
    margin-left: 3rem;
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: 400;
    font-style: italic;
    color: #555; }
  .profile__contact-box {
    margin-left: 3rem; }
  .profile__contact-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 3.4rem;
    color: #555; }
    .profile__contact-item_link-box {
      margin-top: 2rem; }
    .profile__contact-item:not(:last-child) {
      margin-bottom: .5rem; }
    .profile__contact-item > *:not(:last-child) {
      margin-right: 1rem; }
  .profile__contact-text {
    font-size: 2.4rem;
    line-height: 3rem; }
  .profile__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4rem;
    height: 3.4rem;
    cursor: pointer; }
    .profile__link:hover {
      opacity: .7; }

.about-me {
  padding: 0 8rem;
  font-size: 1.8rem; }
  .about-me__text {
    text-indent: 1.8rem; }
  .about-me > *:not(:last-child) {
    margin-bottom: 3rem; }

.skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }
  .skill__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10rem 6rem 10rem; }
    .skill__item > *:not(:last-child) {
      margin-bottom: 3rem; }
  .skill__img {
    width: 10rem;
    height: 10rem; }
  .skill__text {
    font-size: 2.4rem;
    font-weight: 700;
    color: #333; }
  .skill__level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .skill__level-item {
    width: calc(100% / 6);
    height: 1.4rem;
    border: 1px solid #555; }
    .skill__level-item_fill {
      background-color: #555; }

.experience {
  padding: 0 8rem; }
  .experience__item {
    display: flex; }
  .experience__time-box {
    flex: 0 0 20rem;
    margin-right: 5rem;
    border-right: 3px solid #ebebeb; }
  .experience__info-box {
    min-height: 20rem; }
  .experience__year-text {
    padding-right: 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #6fa3e3; }
    .experience__year-text_dark {
      color: #194985; }
  .experience__company {
    font-size: 2.4rem;
    font-weight: 700;
    color: #90a4bd; }
  .experience__job-title {
    margin-left: 1rem;
    margin-bottom: 2rem;
    font-style: italic;
    font-size: 2.2rem;
    font-weight: 700;
    color: #194985; }
  .experience__job-work-box {
    font-size: 1.8rem; }
  .experience__job-work {
    font-size: inherit;
    text-indent: 1.8rem;
    color: #194985; }
    .experience__job-work:not(:last-child) {
      margin-bottom: 1.4rem; }
  .experience__work-list {
    padding-left: 7rem; }
  .experience__work-title {
    font-weight: 700;
    font-size: 2rem; }
  .experience__work-text {
    font-size: inherit; }

.project {
  padding: 0 8rem; }
  .project:not(:last-child) {
    margin-bottom: 5rem;
    border-bottom: 1px solid #ccc; }
  .project__item {
    display: flex;
    align-items: center;
    padding: 2rem 1rem; }
  .project__img-box {
    display: flex;
    position: relative;
    flex: 0 0 70rem;
    height: 37rem;
    margin-right: 5rem;
    padding: 3rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 1rem 1rem #ddd;
    overflow: hidden; }
    .project__img-box > input {
      display: none; }
  .project__img-function {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%); }
  #project1-radio1:checked ~ .project__img-function > .project__img-selection-box:nth-child(1) > .project__img-selection {
    background-color: #333; }
  #project1-radio2:checked ~ .project__img-function > .project__img-selection-box:nth-child(2) > .project__img-selection {
    background-color: #333; }
  #project1-radio3:checked ~ .project__img-function > .project__img-selection-box:nth-child(3) > .project__img-selection {
    background-color: #333; }
  #project1-radio4:checked ~ .project__img-function > .project__img-selection-box:nth-child(4) > .project__img-selection {
    background-color: #333; }
  .project #project1-radio1:checked ~ #project1-image1 {
    margin-left: 0; }
  .project #project1-radio2:checked ~ #project1-image1 {
    margin-left: calc(-100% - 3rem); }
  .project #project1-radio3:checked ~ #project1-image1 {
    margin-left: calc(-200% - 6rem); }
  .project #project1-radio4:checked ~ #project1-image1 {
    margin-left: calc(-300% - 9rem); }
  #project2-radio1:checked ~ .project__img-function > .project__img-selection-box:nth-child(1) > .project__img-selection {
    background-color: #333; }
  #project2-radio2:checked ~ .project__img-function > .project__img-selection-box:nth-child(2) > .project__img-selection {
    background-color: #333; }
  #project2-radio3:checked ~ .project__img-function > .project__img-selection-box:nth-child(3) > .project__img-selection {
    background-color: #333; }
  #project2-radio4:checked ~ .project__img-function > .project__img-selection-box:nth-child(4) > .project__img-selection {
    background-color: #333; }
  .project #project2-radio1:checked ~ #project2-image1 {
    margin-left: 0; }
  .project #project2-radio2:checked ~ #project2-image1 {
    margin-left: calc(-100% - 3rem); }
  .project #project2-radio3:checked ~ #project2-image1 {
    margin-left: calc(-200% - 6rem); }
  .project #project2-radio4:checked ~ #project2-image1 {
    margin-left: calc(-300% - 9rem); }
  #project3-radio1:checked ~ .project__img-function > .project__img-selection-box:nth-child(1) > .project__img-selection {
    background-color: #333; }
  #project3-radio2:checked ~ .project__img-function > .project__img-selection-box:nth-child(2) > .project__img-selection {
    background-color: #333; }
  .project #project3-radio1:checked ~ #project3-image1 {
    margin-left: 0; }
  .project #project3-radio2:checked ~ #project3-image1 {
    margin-left: calc(-100% - 3rem); }
  .project__img-selection-box {
    display: flex;
    justify-content: center;
    align-items: center; }
  .project__img-selection {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #333;
    margin: 0 .5rem;
    transition: all .3s;
    cursor: pointer; }
    .project__img-selection:hover {
      opacity: .7; }
  .project__img {
    width: 100%;
    min-width: 63.8rem;
    object-fit: contain;
    margin-right: 3rem;
    transition: all .8s; }
  .project__info-box {
    flex: 1; }
  .project__name {
    font-size: 2.8rem;
    font-weight: 700; }
  .project__note {
    font-size: 1.8rem;
    color: #e75f5f;
    font-weight: 400;
    margin-bottom: 2rem; }
  .project__description-box {
    font-size: 2.2rem; }
    .project__description-box > *:not(:last-child) {
      margin-bottom: 3rem; }
  .project__description {
    font-size: inherit;
    color: #555; }

.icn-2020 {
  width: 2rem;
  height: 2rem;
  fill: #333; }

.icn-3030 {
  width: 3rem;
  height: 3rem;
  fill: #333; }
