$laptop: 75em; // 1200px
$tablet: 62.25em; // 996px
$phone: 37.5em; // 600px

$color-gray1: #333;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-gray1;
    padding: 3rem;
    box-sizing: border-box;
}